.carousel-container {
   
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:row;
    width: 100%;
    height: 25%;
    
}

.carousel-container .carousel-item img {
    width: 400px;
    height: 200px;
    object-fit: cover;
    
    /* Agregar borde */
    border: 5px solid #9e0aeed0; /* Color rosado claro */
    
    /* Agregar sombra */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    
    /* Agregar un radio al borde para esquinas redondeadas */
    border-radius: 15px; /* Ajusta este valor para obtener el radio de esquina deseado */
    
    /* Agregar margen */
    margin: 10px;
}

/* Puedes agregar un hover effect para cuando el usuario pase el mouse sobre las imágenes */
.carousel-container .carousel-item img:hover {
    /* Cambiar el color del borde en hover */
    border-color: #3d0ae6e0; /* Color rojo */
    
    /* Agregar una transformación de escala para un efecto de "zoom" suave */
    transform: scale(1.05); 
    
    /* Asegurar una transición suave para el efecto de hover */
    transition: transform 0.2s ease, border-color 0.2s ease;
}

.debug{
    border: 2px solid red;
}



